@model Medical.Models.ViewPublicForm

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this submission?</h3>
<div>
    <h4>ViewPublicForm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Form ID
        </dt>
        <dd class="col-sm-10">
            @Model.ViewPublicFormId
        </dd>
        <dt class="col-sm-2">
            Created At
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>
        <dt class="col-sm-2">
            Form Version
        </dt>
        <dd class="col-sm-10">
            @Model.FormVersion
        </dd>
        @if (Model.FormData != null && Model.FormData.Any())
        {
            <dt class="col-sm-2">
                Form Data
            </dt>
            <dd class="col-sm-10">
                <table class="table table-sm">
                    @foreach (var field in Model.FormData)
                    {
                        <tr>
                            <td><strong>@field.Key:</strong></td>
                            <td>@field.Value</td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ViewPublicFormId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
